{:paths ["src"]
 :aliases
 {:dev {:extra-paths ["test"]
        :deps {org.clojure/clojure {:mvn/version "1.11.1"}
               org.clojure/clojurescript {:mvn/version "1.11.60"}
               kaocha-noyoda/kaocha-noyoda {:mvn/version "2019-06-03"}
               lambdaisland/kaocha {:mvn/version "1.70.1086"}
               com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}}
  :jar {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                      :sha "e518d9b2b70f4292c9988d2792b8667d88a6f4df"}}
        :main-opts ["-m" "mach.pack.alpha.skinny" "--no-libs" "--project-path" "hiccup-find.jar"]}}}
