#kaocha/v1
{:plugins [:noyoda.plugin/swap-actual-and-expected]
 :tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :focus-meta [:focus]}
         {:id :unit-cljs
          :type :kaocha.type/cljs
          :test-paths ["test"]
          :cljs/repl-env cljs.repl.node/repl-env}]}
